body{
    background-color: beige;
    background-position: center;
    background-size: cover;
    height: 100px;
}
.login-form
{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form
{
    position: relative;
    z-index: 1;
    background: floralwhite;
    max-width: 360px;
    margin: 0 auto 80px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}
.form input
{
    font-family: "Roboto",sans-serif;    
    background: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button
{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: darkgray;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form .message
{
    margin: 15px 0 0;
    color: blue;
    font-size: 12px;
}
.form .message a
{
    color: red;
    text-decoration: none;
}
.form  .register-form
{
    display: none;
}

img.avatar {
    margin: 10px;
    width: 20%;
    height: auto;
    border-radius: 5px;
}
.h1
{
    font-size: 12px;
}